<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href='/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
        {% stylesheets '@GymBundle/Resources/public/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">
            {% block header %}
                <header>
                    <ul class="navigation">
                        <li><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                        <li>
                            <a href="{{ path('clients_today') }}">Clients</a>
                        </li>
                    </ul>
                </header>
            {% endblock %}
            <h3>{{ block('title') }}</h3>

            {% block content %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
