<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href='/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
        <link href='/css/main.css' rel='stylesheet' type='text/css'>

        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="/jquery/jquery-2.1.0.min.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="viewport animated">
                    <div class="main-navigation">
                        <div class="menu-section">Menu</div>
                        <ul>
                            <li><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i>Home</a></li>
                            <li><a href="{{ path('clients_list') }}"><i class="fa fa-users"></i>Clients</a></li>
                        </ul>
                        <div class="menu-section">Reports</div>
                        <ul>
                            <li><a href="javascript:;"><i class="fa fa-clipboard"></i>In club</a></li>
                            <li><a href="{{ path('clients_list') }}"><i class="fa fa-users"></i>Today Visits</a></li>
                            <li><a href="javascript:;"><i class="fa fa-clipboard"></i>In club</a></li>
                            <li><a href="{{ path('clients_list') }}"><i class="fa fa-users"></i>Today Visits</a></li>
                            <li><a href="javascript:;"><i class="fa fa-clipboard"></i>In club</a></li>
                            <li><a href="{{ path('clients_list') }}"><i class="fa fa-users"></i>Today Visits</a></li>
                        </ul>
                    </div>

                    <div class="content">
                        <ul class="module-navigation">
                            <li class="menu-trigger">
                                <a href="/">
                                    <i class="fa fa-bars navigation-trigger"></i>
                                </a>
                            </li>
                            {% for item in navigationItems %}
                                {% set path = path(item.path, item.pathParams) %}

                                {% if app.request.attributes.get('_route') == item.path %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}

                                <a href="{{ path }}">
                                    <i class="fa fa-{{ item.icon }}"></i>
                                    <span>{{ item.title|trans }}</span>
                                </a>

                                </li>
                            {% endfor %}
                        </ul>

                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}{% endblock %}

        <script type="text/javascript">
//            var touch = {
//                start: {x: 0},
//                delta: {x: 0}
//            };
//
//            var tmpDelta = {x: 0};
//
//            var requestId, nav, navStart = -200;
//
//            function listenForDeltaChange() {
//                requestId = requestAnimationFrame(listenForDeltaChange);
//
//                if (tmpDelta.x != touch.delta.x) {
//                    console.log('change');
//
//                    var newLeft = navStart + touch.delta.x;
//                    if (newLeft <= 0 && newLeft > -201) {
//                        nav.css({left: newLeft});
//                    }
//
//                    tmpDelta.x = touch.delta.x;
//                } else {
//                    console.log('skip');
//                }
//            }


            $(document).ready(function(){
//                nav = $('.main-navigation');
//
//                this.addEventListener('touchstart', function(e) {
//                    var touchObj = e.changedTouches[0];
//                    touch.start.x = touchObj.pageX;
//                    navStart = nav.position().left;
//                    requestAnimationFrame(listenForDeltaChange);
//
//                    $('.viewport').removeClass('animated');
//                });
//
//                this.addEventListener('touchmove', function(e){
//                    var touchObj = e.changedTouches[0];
//                    touch.delta.x = touchObj.pageX - touch.start.x;
//                });
//
//                this.addEventListener('touchend', function(e){
//                    window.cancelAnimationFrame(requestId);
//                    $('.viewport').addClass('animated');
//                });

                $('.menu-trigger').click(function(e){
                    e.preventDefault();
                    $('.viewport').toggleClass('navigation-active');
                });
            });
        </script>
    </body>
</html>
