{% extends '@Gym/Client/show.html.twig' %}

{% block client_view %}
    <div class="dashboard">
        <div class="item">
            <h4>{{"General Info"|trans}}</h4>
            <div class="client-photo">
                {#<img src="/photos/{{client.id}}.jpg" />#}
            </div>
            <ul class="info">
                <li>
                    <div>{{ "Code"|trans }}:</div>
                    <div>{{ client.code }}</div>
                </li>
                <li>
                    <div>{{ "First Name"|trans }}:</div>
                    <div>{{ client.firstName }}</div>
                </li>
                <li>
                    <div>{{ "Last Name"|trans }}:</div>
                    <div>{{ client.lastName }}</div>
                </li>
                <li>
                    <div>{{ "Birth date"|trans }}:</div>
                    <div>{{ client.birthday.format('j M y') }}</div>
                </li>
                <li>
                    <div>{{ "Email"|trans }}:</div>
                    <div>{{ client.email }}</div>
                </li>
                <li>
                    <div>{{ "Phone"|trans }}:</div>
                    <div>{{ client.phone }}</div>
                </li>

                <li>
                    <div>{{ "Status"|trans }}:</div>
                    <div>
                        {% if client.inTheClub %}
                        <span class="badge badge-important">{{ "In the Club"|trans }}</span>
                        {% elseif client.active %}
                        <span class="badge badge-success">{{ "Active"|trans }}</span>
                        {% else %}
                        <span class="badge badge-default">{{ "Inactive"|trans }}</span>
                        {% endif %}
                    </div>
                </li>

            </ul>
        </div>

        <div class="item">
            <h4>{{"Visits Total"|trans}}</h4>
            <ul class="info">

                <li>
                    <div>{{ "Count"|trans }}:</div>
                    <div>{{ total.count }}</div>
                </li>
                <li>
                    <div>{{ "Duration"|trans }}:</div>
                    <div>{{ total.duration|duration }}</div>
                </li>
                {% if total.longest is defined %}
                <li>
                    <div>{{ "Longest"|trans }}:</div>
                    <div>{{ total.longest.duration }} <span class="silver">at {{ total.longest.day.format('j M y') }}</span></div>
                </li>
                {% endif %}
                {% if total.shortest is defined %}
                <li>
                    <div>{{ "Shortest"|trans }}:</div>
                    <div>{{ total.shortest.duration }} <span class="silver">at {{ total.shortest.day.format('j M y') }}</span></div>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="item">
            <h4>{{"Subscription"|trans}}</h4>
            {% if client.active %}
                <p>{{ client.subscription.subscriptionType.title }}</p>
                <ul class="info">
                    <li>
                        <div>Start</div>
                        <div>{{ client.subscription.startDate.format('j M y') }}</div>
                    </li>
                    <li>
                        <div>End</div>
                        <div>{{ client.subscription.expireDate.format('j M y') }}</div>
                    </li>
                    <li>
                        <div>Enter</div>
                        <div>{{ client.subscription.subscriptionType.enterTime.format('H:i') }}</div>
                    </li>
                    <li>
                        <div>Exit</div>
                        <div>{{ client.subscription.subscriptionType.enterTime.format('H:i') }}</div>
                    </li>
                </ul>
            {% else %}

            {% endif %}

            <p>If not subscribed show subscribe form</p>
        </div>


    </div>
{% endblock %}