{% extends '@Gym/Client/show.html.twig' %}
{% block client_view %}
    {% embed '::listing.html.twig' %}
        {% block listing_head %}
            <tr>
                <th>{{ "Start"|trans }}</th>
                <th>{{ "Expire"|trans }}</th>
                <th>{{ "Price"|trans }}</th>
            </tr>
        {% endblock %}

        {% block listing_body %}
            {% for subscription in client.subscriptions %}
                <tr>
                    <td>{{ subscription.startDate.format('Y-m-d') }}</td>
                    <td>{{ subscription.expireDate.format('Y-m-d') }}</td>
                    <td>{{ subscription.price }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}