{% extends '@Gym/Client/show.html.twig' %}

{% block client_view %}
    {% embed '::listing.html.twig' %}
        {% block listing_head %}
            <tr>
                <th class="short-date">{{ "Date"|trans }}</th>
                <th class="time">{{ "Start"|trans }}</th>
                <th class="time">{{ "End"|trans }}</th>
                <th>{{ "Duration"|trans }}</th>
            </tr>
        {% endblock %}

        {% block listing_body %}
            {% for visit in visits %}
                <tr>
                    <td>{{ visit.day.format('j M y') }}</td>
                    <td>{{ visit.enter.format('H:i') }}</td>
                    {% if visit.active %}
                        <td><span class="badge badge-important">{{ "In the Club"|trans }}</span></td>
                    {% else %}
                        <td>{{ visit.exit.format('H:i') }}</td>
                    {% endif %}
                    <td class="duration">
                        {% if visit.active %}
                            <a href="{{ path("visit_finish", {id: visit.client.id}) }}">Finish visit</a>
                        {% else %}
                            {{ visit.duration }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(visits) }}
    </div>
{% endblock %}